# IDEA
.idea
*.iml

# Exclude basic Eclipse files.
**/.project
**/.classpath
**/.settings/

# Exclude generated classes/stuff folders
**/target/

# Secret files
/ad.bat
/private-notes.txt

/build-artifacts/
