# Maven package Java project Web App to Linux on Azure
# Build your Java project and deploy it to Azure as a Linux web app
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
  branches:
    include:
      - refs/tags/*

pool: Default # Use my own runners

variables:

  # Figure out tag name
  tag: $[replace(variables['Build.SourceBranch'], 'refs/tags/', '')]

  # Agent VM image name
  vmImageName: 'ubuntu-latest'
  
  # Enable debug
#  System.Debug: true

stages:
- stage: Build
  displayName: Build stage
  jobs:
  
  - job: BuildMavenPackage
#    dependsOn: CheckReleaseExists
#    condition: failed()
#    condition: eq(dependencies.CheckReleaseExists.result,'SucceededWithIssues') # targets the result of the previous job 
    workspace:
      clean: all
#    pool: Default
    steps:
    - script: echo $(tag)
    - script: echo $(Build.SourceBranch)
    - script: exit 1
      displayName: Fail execution for non-tags
      condition: eq(variables['Build.SourceBranch'], variables['tag'])

    - script: echo pass check fail

    - task: Maven@3
      displayName: 'Set Maven Version'
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'versions:set'
        options: '-DnewVersion=$(tag)'

    - task: Maven@3
      displayName: 'Maven Package'
      inputs:
        mavenPomFile: 'pom.xml'
        options: '
           -Darg.release.version=$(tag)
           '
      
    - task: GitHubRelease@0
      # MUST include succeeded() condition, otherwise it runs if previous step fails
      condition: and(succeeded(), eq(variables['System.JobAttempt'], '1')) # Only run artifact upload on 1st attempt so as to not overwrite packages on GitHub
      inputs:
        gitHubConnection: test-webapp2 github
        action: edit
        tag: $(tag)
        assets: '$(System.DefaultWorkingDirectory)/target/*.?(war|jar)'
        assetUploadMode: replace

- stage: Deploy_Staging
  displayName: Deploy Staging stage
  dependsOn: Build
#   condition: succeededOrFailed()
  jobs:
  - deployment: DeployStagingWebApp
    workspace:
      clean: all
    displayName: Deploy Staging Web App
    environment: web-staging
#    pool: Default
#    pool:
#      vmImage: $(vmImageName)
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          
          - task: DownloadGitHubRelease@0
            inputs:
              connection: test-webapp2 github
              userRepository: solf/test-webapp2
              defaultVersionType: specificTag
              version: $(tag)
              itemPattern: '*.war'
              downloadPath: '$(System.ArtifactsDirectory)'
          
          - script: ls -la $(System.ArtifactsDirectory)
          
          - task: Maven@3
            displayName: 'Azure Deploy via pom.xml'
            inputs:
              mavenPomFile: 'pom.xml'
              goals: 'azure-webapp:deploy'
              options: '
                -Dtestapp.azure.subscriptionId=$(TESTAPP_AZURE_SUBSCRIPTIONID) 
                -Dtestapp.azure.auth.client=$(TESTAPP_AZURE_AUTH_CLIENT) 
                -Dtestapp.azure.auth.tenant=$(TESTAPP_AZURE_AUTH_TENANT) 
                -Dtestapp.azure.auth.key=$(TESTAPP_AZURE_AUTH_KEY) 
                -Dtestapp.azure.appName=${STAGING_TESTAPP_NAME}
                -Dtestapp.azure.war.dir=$(System.ArtifactsDirectory) 
                -Dtestapp.azure.war.filesPattern=*.war
                '

- stage: Deploy_Dev
  displayName: Deploy Dev stage
  dependsOn: Build
#   condition: succeededOrFailed()
  jobs:
  - deployment: DeployDevWebApp
    workspace:
      clean: all
    displayName: Deploy Dev Web App
    environment: web-staging
#    pool: Default
#    pool:
#      vmImage: $(vmImageName)
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          
          - task: DownloadGitHubRelease@0
            inputs:
              connection: test-webapp2 github
              userRepository: solf/test-webapp2
              defaultVersionType: specificTag
              version: $(tag)
              itemPattern: '*.war'
              downloadPath: '$(System.ArtifactsDirectory)'
          
          - script: ls -la $(System.ArtifactsDirectory)
          
          - task: Maven@3
            displayName: 'Azure Deploy via pom.xml'
            inputs:
              mavenPomFile: 'pom.xml'
              goals: 'azure-webapp:deploy'
              options: '
                -Dtestapp.azure.subscriptionId=$(TESTAPP_AZURE_SUBSCRIPTIONID) 
                -Dtestapp.azure.auth.client=$(TESTAPP_AZURE_AUTH_CLIENT) 
                -Dtestapp.azure.auth.tenant=$(TESTAPP_AZURE_AUTH_TENANT) 
                -Dtestapp.azure.auth.key=$(TESTAPP_AZURE_AUTH_KEY) 
                -Dtestapp.azure.appName=${DEV_TESTAPP_NAME}
                -Dtestapp.azure.war.dir=$(System.ArtifactsDirectory) 
                -Dtestapp.azure.war.filesPattern=*.war
                '

- stage: Deploy_PROD
  displayName: Deploy PROD stage
  dependsOn: Deploy_Staging
  condition: succeeded()
  jobs:
  - deployment: DeployPRODWebApp
    workspace:
      clean: all
    displayName: Deploy PROD Web App
    environment: web-prod
#    pool: Default
#    pool:
#      vmImage: $(vmImageName)
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          
          - task: DownloadGitHubRelease@0
            inputs:
              connection: test-webapp2 github
              userRepository: solf/test-webapp2
              defaultVersionType: specificTag
              version: $(tag)
              itemPattern: '*.war'
              downloadPath: '$(System.ArtifactsDirectory)'
          
          - script: ls -la $(System.ArtifactsDirectory)
          
          - task: Maven@3
            displayName: 'Azure Deploy via pom.xml'
            inputs:
              mavenPomFile: 'pom.xml'
              goals: 'azure-webapp:deploy'
              options: '
                -Dtestapp.azure.subscriptionId=$(TESTAPP_AZURE_SUBSCRIPTIONID) 
                -Dtestapp.azure.auth.client=$(TESTAPP_AZURE_AUTH_CLIENT) 
                -Dtestapp.azure.auth.tenant=$(TESTAPP_AZURE_AUTH_TENANT) 
                -Dtestapp.azure.auth.key=$(TESTAPP_AZURE_AUTH_KEY) 
                -Dtestapp.azure.appName=${PROD_TESTAPP_NAME}
                -Dtestapp.azure.war.dir=$(System.ArtifactsDirectory) 
                -Dtestapp.azure.war.filesPattern=*.war
                '
