# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

#trigger:
#- main

pool: Default # Use my own runners
#pool:
#  vmImage: ubuntu-latest

#variables:
#  System.debug: true

stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: CheckReleaseExists
    workspace:
      clean: all
    steps:
#    - publish: '$(System.DefaultWorkingDirectory)/pom.xml' 
#      artifact: drop
    
    - script: echo $(Build.Reason)
    - script: echo $(System.JobAttempt)
    - script: echo $(System.StageAttempt)
      
    - task: CopyFiles@2
      inputs:
        Contents: 'pom.xml'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'
        CleanTargetFolder: true
        
#    - script: echo $(Build.ArtifactStagingDirectory)
      
    - upload: $(Build.ArtifactStagingDirectory)
      artifact: drop
    
#    - script: echo $(Build.ArtifactStagingDirectory)
      
    - task: DownloadGitHubRelease@0
      inputs:
        connection: test-webapp2 github
        userRepository: solf/test-webapp2
        defaultVersionType: specificTag
        version: 0.7.8
        itemPattern: '*.war'
        downloadPath: '$(System.ArtifactsDirectory)'
  
  - job: BuildMavenPackage
    dependsOn: CheckReleaseExists
    steps:
    - script: echo 'Hello World'

- stage: Deploy_Staging
  displayName: Deploy Staging stage
  dependsOn: Build
  jobs:
  - job: 
    steps:
      - script: echo 'Hello Deploy!'
      
    
